@font-face {
  font-family: "iconfont"; /* Project id 3180068 */
  src: url('iconfont.woff2?t=1644825686513') format('woff2'),
       url('iconfont.woff?t=1644825686513') format('woff'),
       url('iconfont.ttf?t=1644825686513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinrituijian-heicopy:before {
  content: "\e605";
}

.icon-iconfontzhizuobiaozhun0256:before {
  content: "\e6c7";
}

.icon-caipiao:before {
  content: "\e61e";
}

.icon-32:before {
  content: "\e61d";
}

.icon-huafei:before {
  content: "\e645";
}

.icon-huochepiao:before {
  content: "\e638";
}

.icon-jiudian:before {
  content: "\e89b";
}

.icon-jipiao:before {
  content: "\e89c";
}

.icon-jingdongzhongchou:before {
  content: "\e615";
}

.icon-baitiao:before {
  content: "\e61a";
}

.icon-youxi:before {
  content: "\e6cf";
}

.icon-jiayouzhan:before {
  content: "\e68d";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-lipinka:before {
  content: "\e8b2";
}

.icon-zhengpinbaozhang:before {
  content: "\e607";
}

.icon-shouye:before {
  content: "\e640";
}

.icon-jisuwuliu:before {
  content: "\e619";
}

.icon-shouhoufuwu:before {
  content: "\e65e";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-31sousuo:before {
  content: "\e601";
}

.icon-gouwuche2:before {
  content: "\e600";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

